<html>
  <head>
    <meta charset='utf-8' />
    <title>Welcome to Juncture.</title>
  </head>
  <body>
    <p>Dear Candidate,</p>

    <br />

    <p>We are delighted to invite you to join
      {{company}}'s Applicant Tracking System, Juncture, as a
      {{role}}. Our team is excited to collaborate with you and look forward to your contributions
      to our hiring process.</p>

    <p>With Juncture, you will have access to a powerful platform that streamlines our hiring
      process and enables us to make better-informed hiring decisions.</p>

    <p>To activate your account, please find the unique token enclosed with this email. Follow the
      instructions provided in the email to activate your account and gain access to the Juncture
      platform.</p>

    <p>We look forward to working with you and making the most of your experience with Juncture.
      Should you have any questions or concerns, please do not hesitate to contact us at Juncture
      everytime.</p>

    <br />

    <p>Activation OTP: <strong>{{otp}}</strong></p>

    <br />

    <p>Best regards,</p>
    <p>{{company}}</p>
  </body>
</html>